* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: gray;
    padding: 16px;
    text-decoration: none;
}

.right-nav {
    position: absolute;
    left: 1655px;
}

#sign-in {
    color: white;
    background-color: #4c8bf5;
    border-radius: 9%;
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 0.8em;
}

.top-nav {
    width: auto;
    height: 70px;
}

.center-nav {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 70px;
    height: 500px;
}

.logo {
    margin: auto;
    position: absolute;
    top: 138px;
    left: 825px;
}

.nav-bar {
    display: flex;
    position: absolute;
    top: 250px;
    left: 690px;
}

#search-bar {
    width: 535px;
    height: 26px;
    border-radius: 5%;
}

.nav-button {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 280px;
    height: auto;
    position: absolute;
    top: 340px;
    left: 820px;
}

#search-button {
    margin-right: auto;
    width: 130px; 
    height: 30px;
    color: gray;
    border: none;
}

#feeling-lucky-button {
    margin-left: auto;
    width: 130px; 
    height: 30px;
    color: gray;
    border: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
    border-top-color: rgb(228, 228, 228);
    color: rgb(34, 34, 34);
    text-align: center;
}